<p><%= @topic.title%></p>
<p>published <%=time_ago_in_words(@topic.created_at)%> ago</p>
<p><%= link_to @topic.node.name, node_path(@topic.node.id)%></p>
<p><%= @topic.content%></p>
<p>共收到<%= @topic.replies.count %> 条回复<p>

<% @topic.replies.each do |reply| %>
  <hr>
  <%= reply.content %>
  <p>by <%= reply.user.name %>
  <p>评论时间:<%= time_ago_in_words(reply.created_at) %>之前<p>
<% end %>

<%= form_for [@topic, @reply] do |f| %>
  <%= f.text_area :content, rows: 4 %>
  <%= f.submit "提交回复" %>
<% end %>